---
import Header from "../components/header.astro";
import Layout from "../layouts/layout.astro";
import Link from "../components/link.astro";
import Section from "../components/section.astro";
---

<Layout>
  <Header title="mynteo" description="Software and design studio" />
  <Section title="Work">
    <Link href="https://codeberg.org/mynteo">Codeberg</Link>
    <Link href="https://www.linkedin.com/company/mynteo/">LinkedIn</Link>
  </Section>
</Layout>
