---
const { href } = Astro.props;
---

<a
  href={href}
  rel="noopener noreferrer"
  target="_blank"
  class="flex flex-row items-center gap-1 text-zinc-600 transition-colors duration-75 ease-in-out hover:text-teal-600 dark:hover:text-teal-400 dark:text-zinc-300"
>
  <span class="hover:underline"><slot /></span>
  <span aria-hidden="true">↗</span>
</a>
