---
import ArrowUpRight from "../icons/arrow-up-right.astro";

const { href } = Astro.props;
---

<a
  href={href}
  rel="noopener noreferrer"
  target="_blank"
  class="flex flex-row items-center gap-1 text-zinc-600 transition-colors duration-75 ease-in-out hover:text-teal-600 dark:text-zinc-300 dark:hover:text-teal-400"
>
  <span class="hover:underline"><slot /></span>
  <span aria-hidden="true"><ArrowUpRight /></span>
</a>
